extends layout.pug

block content
    h1 Maxwell Tyson
    h3 Lab 20d 
    h3 Simple Travel Image site using MongoDB running on local instance. 
    h3 Source code is contributed by Randy Connolly 
    ul 
        li how to set up MongoDB
        li How to Import JSON data into Mongo
        li How to Query data in Mongo
        li How to read Mongo data in Node using Mongoose
        li What is Middleware in Express and how to make use of it. 
        li How to use the Pug View Engine in Express. 
