doctype html
html
    head
        title Node 2 Lab
        link(rel='stylesheet', href='/styles.css')
    body
        header 
            h2 Photo Site 
        main.photo
            section.sidebar
                nav
                    ul
                        li
                            h1 Menu 
                        li
                            a(href='/') All Photos
                        li 
                            a(href='/travel') Countries
                        li 
                            a(href='/about') About
            section.pagecontent
                block content
        footer
            p &copy 2020