extends layout.pug

block content
    h1 Countries With Photos
    ul.photos
        article.photo
        each country in countryList
                li 
                    a(href=`/travel/photos/${country._id}`) #{country._id} [#{country.count}]